doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title THE SECRET BOARD
    style
      include secret.css
      
  body
    h3 
      a(href="/logout") LOGOUT
    h1 SECRET BOARD
    br
    h2 NEW
    form(method="post" action="/posts")
      div
        textarea(name="content" cols=40 rows=7 maxlength="150")
        input(type="hidden" name="oneTimeToken" value=oneTimeToken)
      div
        button(type="submit") POST
    br
    br

    h2 POST LIST
    div ]------------------------------------------------------------------------------------------[
    each post in posts
      - let isPostedByAdmin = (post.postedBy === 'admin')
      if isPostedByAdmin
        h3 #{post.id} : ★ADMIN★
      else
        - let originalTrackingId = post.trackingCookie ? post.trackingCookie.split('_')[0] : ''
        - let originalTrackingIdStr = String(originalTrackingId)
        - let textedId = ''
        - for (let i=0; i<originalTrackingIdStr.length; i+=2){
        - textedId += String.fromCodePoint( parseInt((originalTrackingIdStr.substr(i,2)),16));}
        //- IDをひらがな中心にする
        //- - textedId += String.fromCodePoint( 0x3030 + parseInt((originalTrackingIdStr.substr(i,2)),16));}
        h3 #{post.id} : ID:' #{textedId} '

        //- h3 #{post.id} : ID:#{post.trackingCookie}
      span
        //- p!=post.content
        p(style="white-space:pre; overflow:auto;") #{post.content}
        
      h4 #{post.formattedCreatedAt}
      - let isAdmin = (user === 'admin')
      if isAdmin
        p WRITER : #{post.postedBy}
      - let isDeletable = (user === post.postedBy || isAdmin)
      if isDeletable
        form(method="post" action="/posts?delete=1")
          input(type="hidden" name="id" value=post.id)
          input(type="hidden" name="oneTimeToken" value=oneTimeToken)
          button(type="submit" onclick='return confirm("Are you sure?");') DELETE
      div ]------------------------------------------------------------------------------------------[

